:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
--white:hsl(0, 0%, 100%);
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--Violet);
  color: var(--white);
  margin-bottom: 5em;
}
.header{
  height: 375px;
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
}
.header__img{
  width: 50%;
}

.hero__image{
  display:block;
  width: 80%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
.title{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.info{
  width: 80%;
  margin-left: auto;
  margin-right: auto
}
.link{
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  padding: 0.6em;
  background-color: var(--white);
  color: var(--Violet);
  border-radius: 20px;
}
.footer{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link{
  text-decoration: none;
  color: var(--white);
  margin-left: 10px;
}
.fab{
  font-size: 1.2rem;
}