:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}